:root {
  --logo-color-blue: #2196f3;
  --logo-color-white: #ffffff;
  --logo-color-black: #2f303a;
  --logo-span-color: #000;
  --contacts-color: #757575;
  --header-background-color: #ffffff;
  --header-item-link-color: #212121;
  --header-link-hover: #2196f3;
  --hero-background-color: #2f303a;
  --hero-title-color: #ffffff;
  --hero-button-background-color: #2196f3;
  --hero-button-color: #ffffff;
  --hero-button-background-color-focus-hover: #188ce8;
  --qualities-skills-background-color: #ffffff;
  --skills-title-color: #212121;
  --team-background-colour: #f5f4fa;
  --team-title-color: #212121;
  --team-member-color: #212121;
  --tech-skill-color: #757575;
  --footer-color: #2f303a;
  --address-link-color: #ffffff;
  --footer-color-tel-mail: rgba(255, 255, 255, 0.6);
  --top-text-color: #212121;
  --bottom-text-color: #757575;
  --curent-color: #2196f3;
  --portfolio-btn-hover-focus-color: #ffffff;
  --portfolio-btn-hover-focus-background-color: #2196f3;
  --portfolio-btn-color: #212121;
  --portfolio-btn-background-color: #f5f4fa;
  --portfolio-background-color: #ffffff;
  --cursor-button: pointer;
}

.top-text {
  color: var(--top-text-color);
}

.bottom-text {
  color: var(--bottom-text-color);
}

.body {
  font-family: 'Roboto', 'Times New Roman', sans-serif;
  color: var(--top-text-color);
}

.list {
  list-style: none;
}
.link,
.logo {
  text-decoration: none;
}

/*-------------------------------------Header---------------------------------- */

.header {
  background-color: var(--header-background-color);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color-blue);
}

.header-logo-studio {
  color: var(--logo-span-color);
}

.header-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-item-link-color);
}

.header-item-link:hover,
.header-item-link:focus {
  color: var(--header-link-hover);
}

.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
}

.header-mail:hover,
.header-tel:hover,
.header-mail:focus,
.header-tel:focus,
.address-mail:hover,
.address-tel:hover,
.address-mail:focus,
.address-tel:focus,
.address-link:hover,
.address-link:focus {
  color: var(--header-link-hover);
}

.current {
  color: var(--curent-color);
}

/*-------------------------------------Hero----------------------------------   */

.hero {
  background-color: var(--hero-background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-title-color);
}

.hero-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--hero-button-color);
  background-color: var(--hero-button-background-color);
  border-color: var(--hero-button-background-color);
  cursor: var(--cursor-button);
}

.hero-btn:hover,
.hero-btn:focus {
  background: var(--hero-button-background-color-focus-hover);
}

/*-----------------------------------Qualities and Skills---------------------- */

.qualities,
.skills {
  background-color: var(--qualities-skills-background-color);
}

.qualities-top-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--top-text-color);
}

.qualities-bottom-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--bottom-text-color);
}

.skills-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--skills-title-color);
}

/*-------------------------------------Team------------------------------------ */

.team {
  background-color: var(--team-background-colour);
}

.team-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--team-title-color);
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--team-member-color);
}

.tech-skill {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--tech-skill-color);
}

/*-------------------------------------Footer---------------------------------- */

.footer {
  background-color: var(--logo-color-black);
}

.footer-logo-studio {
  color: var(--logo-color-white);
}

.address-link,
.address-mail,
.address-tel {
  font-style: normal;
}

.address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--address-link-color);
}

.address-mail,
.address-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-color-tel-mail);
}

/* -----------------------------------------------------------------------------
-----------------------------------Portfolio------------------------------------
------------------------------------------------------------------------------ */

.portfolio-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--portfolio-btn-color);
  background-color: var(--portfolio-btn-background-color);
  cursor: var(--cursor-button);
  border-color: var(--portfolio-btn-background-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus,
.painted {
  background-color: var(--portfolio-btn-hover-focus-background-color);
  color: var(--portfolio-btn-hover-focus-color);
}

.project-top-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-bottom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88px;
  letter-spacing: 0.03em;
}

.portfolio {
  background-color: var(--portfolio-background-color);
}
